In [2]:
import pandas as pd

In [7]:
pd.read_csv('test.csv')

  month\tday\tyear\tversion\trating\treview
0       8\t8\t2018\t2.2\t5\tthe is number 1
1       8\t9\t2018\t2.1\t4\tthe is number 2
2        8\t10\t2018\t2\t3\tthe is number 3
3      8\t11\t2018\t1.9\t2\tthe is number 4
4      8\t12\t2018\t1.8\t1\tthe is number 5