In [2]:
import pandas as pd

In [4]:
pd.read_csv('test.csv')

            date\tversion\trating\treview
0  augest,8,2018\t2.2\t5\tthe is number 1
1  augest,8,2019\t2.1\t4\tthe is number 2
2    augest,8,2020\t2\t3\tthe is number 3
3  augest,8,2021\t1.9\t2\tthe is number 4
4  augest,8,2022\t1.8\t1\tthe is number 5