In [2]:
import pandas as pd

In [3]:
import glob

In [1]:
import nltk

In [3]:
new_test = pd.read_csv('new_test.csv')

In [4]:
new_test

,date,version,rating,body
0,aug 05 2017,2.623,5,i use this app every day its pretty simply la...
1,aug 15 2017,2.623,1,your password expires but it doesnt tell you ...
2,aug 16 2017,2.623,1,when you check your balance the addition is a...
3,aug 28 2017,2.623,3,this app is great when it actually works righ...
4,aug 11 2017,2.623,5,ive been a member for + years when chase made...
5,sep 29 2017,2.634,5,its been more than six months since i wrote m...
6,aug 01 2017,2.623,5,i love this app i use this app daily to monit...
7,aug 02 2017,2.623,5,i moved years ago and the nearest chase bank...
8,oct 05 2017,2.634,2,i have been using this app for years and neve...
9,sep 02 2017,2.623,4,the current version of the app allows you to ...
10,aug 17 2017,2.623,1,update the app now works again but mobile de...
11,oct 02 2017,2.634,5,the banking app for chase is very easy to nav...
12,nov 10 2017,2.635,1,the prompts to enter data arent fluid and int...
13,aug 02 2017,2.623,5,this app is great its very easy to manage pr...
14,oct 01 2017,2.634,5,bank from anywhere put your financial life i...
15,sep 30 2017,2.634,5,i have the update that came out a few months ...
16,aug 17 2017,2.623,1,where to beginill probably be cut off there a...
17,aug 19 2017,2.623,4,transferring between accounts if you have mu...
18,aug 16 2017,2.623,5,update loving the fingerprint sign on feature...
19,oct 06 2017,2.634,2,i really do like that i can deposit checks us...

In [5]:
new_test.dtypes

date        object
version    float64
rating       int64
body        object
dtype: object

In [6]:
pd.unique(new_test['version'])

array([ 2.623,  2.634,  2.635])

In [8]:
listest = [1,2,3]

In [7]:
print(listest)

NameError: name 'listest' is not defined

In [9]:
listest = pd.unique(new_test['version'])

In [10]:
for x in listest:
    print('test%f'%x)

test2.623000
test2.634000
test2.635000

In [11]:
sample_data = new_test[new_test.version == listest[1] ]

In [12]:
sample_data

,date,version,rating,body
5,sep 29 2017,2.634,5,its been more than six months since i wrote m...
8,oct 05 2017,2.634,2,i have been using this app for years and neve...
11,oct 02 2017,2.634,5,the banking app for chase is very easy to nav...
14,oct 01 2017,2.634,5,bank from anywhere put your financial life i...
15,sep 30 2017,2.634,5,i have the update that came out a few months ...
19,oct 06 2017,2.634,2,i really do like that i can deposit checks us...

In [40]:
sample_data['rating'].describe()

count    6.000000
mean     4.000000
std      1.549193
min      2.000000
25%      2.750000
50%      5.000000
75%      5.000000
max      5.000000
Name: rating, dtype: float64

### count version_sep index
### then use the index value to iterate a for loop to seperate the versions

In [21]:
listest

array([ 2.623,  2.634,  2.635])

In [13]:
for i in range(len(listest)):
    y = new_test[new_test.version == listest[i] ]
    #y.to_csv('version name %f.csv'%listest[i], index = False)
    #print('count number %d.csv'%(i+1),'testversion %f'%listest[i], y)

In [14]:
for i in range(len(listest)):
    versionname = pd.read_csv('version name %f.csv'%listest[i])
    print(i,versionname)

0            date  version  rating  \
0   aug 05 2017    2.623       5
1   aug 15 2017    2.623       1
2   aug 16 2017    2.623       1
3   aug 28 2017    2.623       3
4   aug 11 2017    2.623       5
5   aug 01 2017    2.623       5
6   aug 02 2017    2.623       5
7   sep 02 2017    2.623       4
8   aug 17 2017    2.623       1
9   aug 02 2017    2.623       5
10  aug 17 2017    2.623       1
11  aug 19 2017    2.623       4
12  aug 16 2017    2.623       5

                                                 body
0    i use this app every day its pretty simply la...
1    your password expires but it doesnt tell you ...
2    when you check your balance the addition is a...
3    this app is great when it actually works righ...
4    ive been a member for + years when chase made...
5    i love this app i use this app daily to monit...
6    i moved  years ago and the nearest chase bank...
7    the current version of the app allows you to ...
8    update the app now works again  but mobile de...
9    this app is great its very easy to manage  pr...
10   where to beginill probably be cut off there a...
11   transferring between accounts  if you have mu...
12   update loving the fingerprint sign on feature...
1           date  version  rating  \
0  sep 29 2017    2.634       5
1  oct 05 2017    2.634       2
2  oct 02 2017    2.634       5
3  oct 01 2017    2.634       5
4  sep 30 2017    2.634       5
5  oct 06 2017    2.634       2

                                                body
0   its been more than six months since i wrote m...
1   i have been using this app for years and neve...
2   the banking app for chase is very easy to nav...
3   bank from anywhere  put your financial life i...
4   i have the update that came out a few months ...
5   i really do like that i can deposit checks us...
2           date  version  rating  \
0  nov 10 2017    2.635       1

                                                body
0   the prompts to enter data arent fluid and int...

In [79]:
versionname.dtypes

date        object
version    float64
rating       int64
body        object
dtype: object

In [15]:
print(glob.glob('version name *.csv'))

['version name 2.623000.csv', 'version name 2.634000.csv', 'version name 2.635000.csv']

In [23]:
for i in range(len(listest)):
    vnum = pd.read_csv('version name %f.csv' %listest[i])
    des = vnum['rating'].describe()
    print(des)

count    13.000000
mean      3.461538
std       1.808101
min       1.000000
25%       1.000000
50%       4.000000
75%       5.000000
max       5.000000
Name: rating, dtype: float64
count    6.000000
mean     4.000000
std      1.549193
min      2.000000
25%      2.750000
50%      5.000000
75%      5.000000
max      5.000000
Name: rating, dtype: float64
count    1.0
mean     1.0
std      NaN
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0
Name: rating, dtype: float64