In [1]:
import pandas as pd

In [2]:
pd.read_csv('test.csv')

              date  version  rating           review
0  augest, 8, 2017      2.2       5  the is number 1
1  augest, 8, 2018      2.1       4  the is number 2
2  augest, 8, 2019      2.0       3  the is number 3
3  augest, 8, 2020      1.9       2  the is number 4
4  augest, 8, 2021      1.8       1  the is number 5